################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
selenium/bin/Debug/net8.0/selenium.deps.json
selenium/bin/Debug/net8.0/selenium.dll
selenium/bin/Debug/net8.0/selenium.pdb
selenium/bin/Debug/net8.0/ShopManagementSystem.exe
selenium/bin/Debug/net8.0/ShopManagementSystem.pdb
selenium/obj/Debug/net8.0/ref/selenium.dll
selenium/obj/Debug/net8.0/refint/selenium.dll
selenium/obj/Debug/net8.0/selenium.AssemblyInfo.cs
selenium/obj/Debug/net8.0/selenium.AssemblyInfoInputs.cache
selenium/obj/Debug/net8.0/selenium.assets.cache
selenium/obj/Debug/net8.0/selenium.csproj.AssemblyReference.cache
selenium/obj/Debug/net8.0/selenium.csproj.CoreCompileInputs.cache
selenium/obj/Debug/net8.0/selenium.csproj.FileListAbsolute.txt
selenium/obj/Debug/net8.0/selenium.dll
selenium/obj/Debug/net8.0/selenium.GeneratedMSBuildEditorConfig.editorconfig
selenium/obj/Debug/net8.0/selenium.genruntimeconfig.cache
selenium/obj/Debug/net8.0/selenium.GlobalUsings.g.cs
selenium/obj/Debug/net8.0/selenium.pdb
selenium/obj/Debug/net8.0/selenium.sourcelink.json
selenium/obj/project.assets.json
selenium/obj/project.nuget.cache
selenium/obj/selenium.csproj.nuget.dgspec.json
selenium/obj/selenium.csproj.nuget.g.props
selenium/Test1.cs
ShopManagementSystem/bin/Debug/ShopManagementSystem.exe
ShopManagementSystem/bin/Debug/ShopManagementSystem.pdb
ShopManagementSystem/Connect.cs
ShopManagementSystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ShopManagementSystem/obj/Debug/ShopManagementSystem.csproj.AssemblyReference.cache
ShopManagementSystem/obj/Debug/ShopManagementSystem.csproj.FileListAbsolute.txt
ShopManagementSystem/obj/Debug/ShopManagementSystem.csproj.GenerateResource.cache
ShopManagementSystem/obj/Debug/ShopManagementSystem.exe
ShopManagementSystem/obj/Debug/ShopManagementSystem.pdb
selenium/bin/Debug/net8.0/selenium.deps.json
selenium/bin/Debug/net8.0/selenium.deps.json
selenium/bin/Debug/net8.0/selenium.dll
selenium/bin/Debug/net8.0/selenium.pdb
selenium/bin/Debug/net8.0/ShopManagementSystem.exe
selenium/bin/Debug/net8.0/ShopManagementSystem.pdb
selenium/obj/Debug/net8.0/ref/selenium.dll
selenium/obj/Debug/net8.0/refint/selenium.dll
selenium/obj/Debug/net8.0/selenium.AssemblyInfo.cs
selenium/obj/Debug/net8.0/selenium.AssemblyInfoInputs.cache
selenium/obj/Debug/net8.0/selenium.assets.cache
selenium/obj/Debug/net8.0/selenium.csproj.AssemblyReference.cache
selenium/obj/Debug/net8.0/selenium.csproj.CoreCompileInputs.cache
selenium/obj/Debug/net8.0/selenium.csproj.FileListAbsolute.txt
selenium/obj/Debug/net8.0/selenium.dll
selenium/obj/Debug/net8.0/selenium.GeneratedMSBuildEditorConfig.editorconfig
selenium/obj/Debug/net8.0/selenium.genruntimeconfig.cache
selenium/obj/Debug/net8.0/selenium.GlobalUsings.g.cs
selenium/obj/Debug/net8.0/selenium.pdb
selenium/obj/Debug/net8.0/selenium.sourcelink.json
selenium/obj/project.assets.json
selenium/obj/project.nuget.cache
selenium/obj/selenium.csproj.nuget.dgspec.json
selenium/obj/selenium.csproj.nuget.g.props
selenium/Test1.cs
ShopManagementSystem/bin/Debug/ShopManagementSystem.exe
ShopManagementSystem/bin/Debug/ShopManagementSystem.pdb
ShopManagementSystem/Connect.cs
ShopManagementSystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ShopManagementSystem/obj/Debug/ShopManagementSystem.csproj.AssemblyReference.cache
ShopManagementSystem/obj/Debug/ShopManagementSystem.csproj.FileListAbsolute.txt
ShopManagementSystem/obj/Debug/ShopManagementSystem.csproj.GenerateResource.cache
ShopManagementSystem/obj/Debug/ShopManagementSystem.exe
ShopManagementSystem/obj/Debug/ShopManagementSystem.pdb
